<main class="container-fluid p-0">
    <!-- FIRST SECTION -->
    <section class="sections row bg-blueDark w-100 m-0 p-0">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 d-flex flex-column justify-content-center px-md-2 px-sm-0 px-lg-3 px-xl-4 px-0 py-lg-5 py-md-5 order-small-1 h-100">
            <div class="bar-gradient d-sm-none d-md-block d-lg-block d-xl-block d-none"></div>
            <div class="w-100 ms-md-5 ms-sm-0 ms-lg-2 ms-xl-5 ms-0 py-md-5 p-5">
                <h2 class="fw-bold px-md-2 px-sm-0 px-lg-3 px-xl-4 px-0 fz-40 text-white w-75 letter-spacing-5">CREA Y COMPARTE TUS HISTORIAS CON FOTOGRAFÍAS.</h2>
                <p class="px-md-2 px-sm-0 px-lg-3 px-xl-4 px-0 color-grayLight w-75 mt-3">Photobook es una plataforma para fotógrafos y narradores visuales. Hacemos que sea fácil compartir fotos, contar historias y conectar con otros.</p>
                <div class="d-flex px-md-2 px-sm-0 px-lg-3 px-xl-4 px-02 mt-5">
                    <a routerLink="/historias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}" class="nav-link" class="links space-1">VER HISTORIA</a>
                    <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 col-12 p-0 overflow-hidden order-small-0 container-img">
            <img class="img-fluid img-response img-fluids" src="../assets/img/banner-1.jpg" alt="Fotografia">
        </div>
    </section>
    <!-- END FIRST SECTION -->
  
    <!-- SECOND SECTION -->
    <section class="sections row bg-white w-100 m-0 p-0 color-blueDark">
        <div class="col-xl-7 col-lg-6 col-md-5 col-sm-12 p-0 overflow-hidden container-img">
            <img class="img-fluid img-response img-fluids" src="../assets/img/banner-2.jpg" alt="Fotografia">
        </div>
        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-12 d-flex flex-column justify-content-center px-md-2 px-sm-0 px-lg-3 px-xl-4 px-0 py-lg-5 py-md-5">
            <div class="px-md-2 px-sm-5 px-lg-2 px-xl-3 px-0 py-md-5 ml-0 p-5">
                <h2 class="fw-bold px-md-2 px-sm-0 px-lg-3 px-xl-4 px-0 fz-40 letter-spacing-5">ENCANTADORAS HISTORIAS TODO EL TIEMPO.</h2>
                <p class="px-md-2 px-sm-0 px-lg-3 px-xl-4 px-0 color-grayLight mt-4 px-5">Añade fácilmente fotos, texto y medios de comunicación de otras redes. Luego, comparte tu historia con todo el mundo.</p>
                <div class="d-flex ps-xl-5 ps-lg-3 ps-md-0  mt-5">
                    <a routerLink="/historias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}" class="nav-link" class="links space-1 mr-24 color-blueDark">VER HISTORIA</a>
                    <svg class="fill-black" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECOND SECTION -->
  
    <!-- THIRD SECTION -->
    <section class="sections row bg-white w-100 m-0 p-0 color-blueDark">
        <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-12 d-flex flex-column justify-content-center px-md-2 px-sm-0 px-lg-3 px-xl-4 px-0 py-lg-5 py-md-5 order-small-1">
            <div class="ms-lg-5 ms-xl-5 ms-sm-0 px-md-2 px-sm-5 px-lg-3 px-xl-4 px-5 py-sm-5">
                <h2 class="fw-bold px-md-2 px-sm-0 px-lg-3 px-xl-4 px-0 fz-40 letter-spacing-5 w-75">DISEÑADO PARA TODOS.</h2>
                <p class="px-md-2 px-sm-0 px-lg-3 px-xl-4 px-0 color-grayLight mt-4 w-75">PhotoBook puede ayudarte a crear historias que resuenen con tu audiencia. Nuestra herramienta está diseñada para fotógrafos de todos los niveles, marcas, empresas, lo que sea.</p>
                <div class="d-flex ps-md-2 ps-sm-0 ps-lg-3 ps-xl-4 ps-0 mt-5">
                    <a routerLink="/historias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}" class="nav-link" class="links space-1 mr-24 color-blueDark">VER HISTORIA</a>
                    <svg class="fill-black" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-5 col-sm-12 col-12 p-0 overflow-hidden container-img order-small-0">
            <img class="img-fluid img-response img-fluids" src="../assets/img/banner-3.jpg" alt="Fotografia">
        </div>
    </section>
    <!-- END THIRD SECTION -->
  
    <!-- GALERY -->
    <section class="row w-100 d-flex container-galery m-0" *ngIf="historiaslimit.length >= 4">
        <!-- ITEM 1 -->
        <article class="col-xl-3 col-sm-12 col-12 col-lg-3 col-md-6 item-gallery p-0" *ngFor="let historia of historiaslimit">
            <img class="img-response" src="http://localhost:3000/imagenes/{{ historia.image }}" alt="Stories">
            <div class="stories">
                <div class="border-bottom-story container-title-story">
                    <h3>{{ historia.title }}</h3>
                    <span>Por John Appleseed</span>
                </div>
                <div class="w-100 d-flex justify-between">
                    <a routerLink="/historias/{{ historia._id}}" class="links">Leer Historia</a>
                    <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>
            </div>
            <div class="bar-gradient-horizontal"></div>
        </article>
    </section>
    <!-- END GALERY -->

    <!-- GALERY -->
    <section class="row w-100 d-flex container-galery m-0" *ngIf="historiaslimit.length < 4">
        <!-- ITEM 1 -->
        <article class="col-xl-3 col-sm-12 col-12 col-lg-3 col-md-6 item-gallery p-0">
            <img class="img-response" src="../assets/img/pic-1-home.jpg" alt="Stories">
            <div class="stories">
                <div class="border-bottom-story container-title-story">
                    <h3>Las Montañas</h3>
                    <span>Por John Appleseed</span>
                </div>
                <div class="w-100 d-flex justify-between">
                    <a routerLink="/historias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}" class="links">Leer Historia</a>
                    <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>
            </div>
            <div class="bar-gradient-horizontal"></div>
        </article>
        <!-- ITEM 2 -->
        <article class="col-xl-3 col-sm-12 col-12 col-lg-3 col-md-6 item-gallery p-0">
            <img src="../assets/img/pic-2-home.jpg" alt="">
            <div class="stories">
                <div class="border-bottom-story container-title-story">
                    <h3>Paisajes al atardecer</h3>
                    <span>Por Benjamin Cruz</span>
                </div>
                <div class="w-100 d-flex justify-between">
                    <a routerLink="/historias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}" class="links">Leer Historia</a>
                    <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>
            </div>
            <div class="bar-gradient-horizontal"></div>
        </article>
        <!-- ITEM 3 -->
        <article class="col-xl-3 col-sm-12 col-12 col-lg-3 col-md-6 item-gallery p-0">
            <img src="../assets/img/pic-3-home.jpg" alt="">
            <div class="stories">
                <div class="border-bottom-story container-title-story">
                    <h3>Viaje de 8 días</h3>
                    <span>Por Alexei Borodin</span>
                </div>
                <div class="w-100 d-flex justify-between cont-link">
                    <a routerLink="/historias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}" class="links">Leer Historia</a>
                    <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>
            </div>
            <div class="bar-gradient-horizontal"></div>
        </article>
        <!-- ITEM 4 -->
        <article class="col-xl-3 col-sm-12 col-12 col-lg-3 col-md-6 item-gallery p-0">
            <img src="../assets/img/pic-4-home.jpg" alt="">
            <div class="stories">
                <div class="border-bottom-story container-title-story">
                    <h3>Perspectivas</h3>
                    <span>Por Samantha Brooke</span>
                </div>
                <div class="w-100 d-flex justify-between">
                    <a routerLink="/historias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}" class="links mr-32" href="">Leer Historia</a>
                    <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>
            </div>
            <div class="bar-gradient-horizontal"></div>
        </article>
    </section>
    <!-- END GALERY -->
  
    <section class="row w-100 py-5 my-5 d-flex h-100">
        <article class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center py-5">
            <div class="px-5 ms-5">
                <h3>Suscríbete para recibir actualizaciones</h3>    
                <P>Con nuestra suscripción recibirás correos semanales con información relevante sobre actualizaciones, mejoras y nuevas historias que se subirán en la plataforma.</P>
            </div>
        </article>
        <article class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center align-items-center h-100 py-5">
            <div class="container-shadow">
                <div class="img-container"></div>
                <form class="form" id="formulario" [formGroup]="formSuscribe" novalidate (ngSubmit)="onSubmit()"  >
                    <div class="form-group mt-4" >
                        <label for="name">Nombre</label>
                        <input type="text" formControlName="name" id="name" class="form-control" placeholder="Ingresa tu nombre">
                        <div class="alert alert-danger" *ngIf="formSuscribe.get('name')?.errors && (formSuscribe.dirty || formSuscribe.touched)">            
                            <p *ngIf="formSuscribe.get('name')?.hasError('required')">El campo <b>Nombre</b> es obligatorio</p>
                            <p *ngIf="formSuscribe.get('name')?.hasError('minlength')">El campo <b>Nombre</b> debe tener al menos 4 caracteres</p>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="email">Correo</label>
                        <input type="email" formControlName="email" id="email" class="form-control" placeholder="Ingresa tu dirección de correo">
                        <div class="alert alert-danger" *ngIf="formSuscribe.get('email')?.errors && formSuscribe.get('email')?.dirty">
                            <p *ngIf="formSuscribe.get('email')?.hasError('required')">El campo <b>Correo</b> es obligatorio</p>                  
                            <p *ngIf="formSuscribe.get('email')?.hasError('minlength')">El campo <b>Correo</b> debe tener al menos 8 caracteres</p>
                            <p *ngIf="formSuscribe.get('email')?.hasError('email')">Ingrese un formato valido de correo</p>
                        </div>
                    </div><br>
                    <div class="alert alert-success" *ngIf="mensaje != '' ">
                        <p>{{ mensaje }}</p>                  
                    </div>
                    <div class="alert alert-danger" *ngIf="mensajeError != '' ">
                        <p>{{ mensajeError }}</p>                  
                    </div>

                    <div class="form-group my-3">
                        <input type="submit" class="btn btn-lg btn-dark btn-disabled w-100" value="Enviar">
                    </div>
                </form>
            </div>
        </article>
    </section>
  </main>