<!-- FOOTER -->
<footer>
    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M1.98,-5.42 C-139.67,-21.20 -28.49,1.48 500.84,141.61 L500.00,0.00 L1.98,-7.39 Z" style="stroke: none; fill: #fff;"></path></svg></div>

    <div class="footer-container">
        <div class="section-social">
             <h3 class="logo-negativo">PHOTO<span>BOOK</span></h3>

            <div class="redes mt-32">
                <img src="./assets/img/iconos/facebook.svg" alt="">
                <img src="./assets/img/iconos/instagram.svg" alt="">
                <img src="./assets/img/iconos/twitter.svg" alt="">
                <img src="./assets/img/iconos/youtube.svg" alt="">
                <img src="./assets/img/iconos/pinterest.svg" alt="">                        
            </div>
        </div>
        <div class="navegation-footer mt-sm-64 mt-sm-5">
            <div class="links-group">
                <a routerLink="/administrador/historias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}"  class="links py-sm-2 py-2 py-md-0">ADMINISTRADOR</a>
                <a routerLink="/historias" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="links py-sm-2 py-2 py-md-0">HISTORIAS</a>
                <a routerLink="/administrador/usuarios" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  class="links py-sm-2 py-2 py-md-0">USUARIOS</a>
                    <a routerLink="/administrador/suscripciones" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  class="links py-sm-2 py-2 py-md-0">SUSCRIPCIONES</a>
            </div>
            <div class="d-flex pt-32 justify-center mt-sm-80 m-sm-auto m-lg-5 mt-sm-5 mr-5">
                <a routerLink="/historias/crear" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}" class="links space-1 mr-24">CREAR UNA HISTORIA</a>
                <svg class="fill-white" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
            </div>
        </div>  
    </div>
</footer>
