<main class="container-fluid p-0">
    <!-- FIRST SECTION -->
    <section class="sections row bg-blueDark w-100 m-0 p-0 d-flex">
        <div class="col-lg-5 col-md-7 col-sm-12 d-flex flex-column justify-content-center px-md-5 py-sm-5 px-sm-0 order-small-1">
            <div class="bar-gradient d-sm-none d-md-block"></div>
            <h2 class="ms-lg-4 ms-md-1 fw-bold px-lg-5 px-sm-5 px-md-2 fz-40 text-white w-75 letter-spacing-5">DESCRUBE EL VERDADERO POTENCIAL DE TUS FOTOGRAFIAS</h2>
        </div>
        <div class="col-lg-7 col-md-5 col-sm-12 p-0 overflow-hidden order-small-0 container-img">
            <img class="img-fluid img-response img-fluids" src="../../assets/img/banner-contact.jpg" alt="Fotografia">
        </div>
    </section>
    <!-- END FIRST SECTION -->

    <section class="sections row w-100 m-0 p-0 bg-blueDark">
        <div class="col-lg-7 col-md-5 col-sm-12 p-0 overflow-hidden h-100 container-img">
            <img class="img-fluid img-response img-fluids" src="../../assets/img/banner-2-contact.jpg" alt="Ilustracion de fotografia">
        </div>
        <div class="col-lg-5 col-md-7 col-sm-12 d-flex flex-column justify-content-center px-5 py-sm-5">   
            <p class="w-md-75 w-sm-100 text-white mx-auto fz-24">
                Trabaja de forma inteligente,
                entendiendo y anticipando todo los
                cambios que se presentan en tu
                mercado.
            </p>
        </div>
    </section>

    <section class="section-banner position-relative top-0 d-flex">
        <div class="bar-gradient-contact h-100 position-absolute"></div>
        <div class="container-banner w-100 fz-32 text-uppercase">
            <img class="w-100 h-100" src="../../assets/img/bg-beta.jpg" alt="">  
            <div class="w-100 d-flex justify-content-between position-absolute content-bottom">
                <h6 class="text-white fz-40">Muestranos tu arte</h6>
                <div class="d-flex">
                    <a class="links space-1 px-5 px-sm-0" routerLink="/historias/crear" routerLinkActive="active" >CREA UNA HISTORIA</a>
                    <svg class="fill-white mt-2" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                </div>
            </div> 
        </div>
    </section>

</main>