<div class="container mt-50 shadow-lg p-3 mb-5 bg-body rounded p-5">
    <div class="row">
        <div class="col-12 m-auto">
            <div class="alert alert-success" *ngIf="mensaje != ''" > 
                {{ mensaje }}
            </div>
            <a class="btn btn btn-login btn-100-sm mb-4 float-right"  routerLink="/administrador/usuarios/crear" >Registrar usuario</a>

            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">nickname</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.name }} {{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone}}</td>
                        <td>{{ user.nickname }}</td>
                        <td>  <a class="btn btn-outline-success" routerLink="/administrador/usuarios/editar/{{ user._id }}">Editar</a>  <a class="btn btn-outline-danger"  routerLink="/administrador/usuarios/eliminar/{{ user._id }}">Eliminar</a> </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>

</div>

